/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.game-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #2e8b57;
    margin-bottom: 20px;
}

.score {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #4CAF50;
}

.situation {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #444;
}

button {
    display: block;
    width: 80%;
    margin: 15px auto;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}

button:focus {
    outline: none;
}

#explanation {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}